<div class="col-4" id="caja1">
    <h1>Prueba Firebase Authentication</h1>
    <h3>Creado por: Paola Alba Bugarín</h3>
    <div id="botones">
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/sign-in">Log In de Usuario</button>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/register-user">Registro de Usuario </button>
        <button type="button" class="btn btn-outline-info btn-lg btn-block" routerLink="/phone-login">Log In con Firebase Authentication MSG</button>
        <button type="button" class="btn btn-outline-danger btn-lg btn-block" routerLink="/products">Prueba de Cloud Firestore</button>
    </div>
</div>
